#App {
  display: flex;
}

#App-header {
  display: flex;
  justify-content: space-around;
}

#App-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
#App-center h1{
  font-size: 80pt;
}

#App-footer {
  display: flex;
  justify-content: space-around;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
